@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  background-color: #effafa;
}

header {
  background: #38b2ac;
}

header img {
  display: block;
  height: 100%;
  width: 100%;
}

.searchBar {
  max-width: 1100px;
  margin: -2rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 15px 15px -4px #5ba4a433;
  padding: 25px;
  position: relative;
  z-index: 1;
}

.searchBar button {
  background: none;
  border: none;
  color: #7b8e8e;
  text-transform: uppercase;
  cursor: pointer;
}

.searchBar button:hover {
  text-decoration: underline;
  color: #000;
}

.jobs {
  max-width: 1100px;
  margin: 5rem auto;
}

.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 2rem 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
}

.featured {
  border-left: 5px solid #38b2ac;
}

.job div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.job > div:first-of-type > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.job img {
  padding-right: 20px;
}

.job #name {
  font-size: 1rem;
  color: #96d1f6;
}

.job #new {
  background-color: #38b2ac;
  color: #fff;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin: 0 0.5rem;
  padding: 8px 10px 5px 10px;
  border-radius: 20px;
}

.job #featured {
  background-color: #000;
  color: #fff;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 10px 8px 5px 8px;
  border-radius: 20px;
}

.job #position {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 1rem 0;
  cursor: pointer;
}

.job #position:hover {
  color: #1e99e6;
}

.job #posted,
.job #contract,
.job #location {
  font-size: 0.9rem;
  opacity: 0.5;
  font-weight: 500;
}

.job span {
  padding: 0 10px;
  font-size: 1.2rem;
  opacity: 0.5;
}

.job .tag {
  color: #38b8b9;
  background-color: #e5fffa;
  font-size: 0.7rem;
  padding: 7px 5px 5px 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 500ms ease;
}

.job .tag:hover {
  background-color: #38b2ac;
  color: #fff;
}
